.card .slide_img {
  height: 15rem;
  width: 9rem;
}
.collection .card {
  padding-top: 0.5rem;
  height: 15rem;
  width: 9rem;
  background-color: rgb(15, 6, 23);
  display: flex;
  align-items: center;
  justify-content: center;
}
.info {
  color: black;
  display: none;
  width: 100%;
  padding: 0.75rem;
  font-weight: 500;
}
.card:hover .info {
  display: block;
}
.card {
  background-color: rgb(15, 6, 23);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card:hover {
  background-color: white;
  flex-direction: column;
  border-radius: 10px;
  justify-content: flex-start;
  padding-top: 0.5rem;
  /*   z-index: 99; */
}

.card:hover .slide_img {
  height: 10rem;
  width: 8rem;
}
.show-title {
  font-weight: 900;
}
.info p {
  margin: 0;
  padding: 0;
  font-size: 0.65rem;
  font-weight: 500;
  height: 1rem;
  overflow: hidden;
}
.info .btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
}

.info i {
  font-size: 1.5rem;
}

.collection .card {
  transition: transform 1s;
}
.collection .card:hover {
  z-index: 999;
  transform: scale(1.3);
}
.watch-now {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
  color: blueviolet;
}
.watch-now:hover {
  background-color: rgb(130, 48, 198);
  color: white;
  text-decoration: none;
}
Link:hover {
  text-decoration: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
#add {
  color: black;
}
.show-title {
  font-size: 0.5rem;
}
.btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.watch-btn {
  color: black;
  border: 1px solid black;
  font-size: 0.65rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}
.watch-btn :hover {
  color: white;
  background-color: var(--btn);
}
.fa-play:before {
  content: "\f04b";
  color: black;
  font-size: 0.75rem;
}
@media (width: 1000px) {
  .card {
    height: 10rem;
    width: 5rem;
  }
  .card .slide_img {
    height: 10rem;
    width: 6rem;
  }
  .collection .card {
    height: auto;
    width: auto;
  }
}
.main {
  padding-left: 2rem;
}
