.card .slide_img {
  height: 340;
  width: 240px;
}
.collection .card {
  height: 380px;
  width: 260px;
  background-color: rgb(15, 6, 23);
  display: flex;
  align-items: center;
  justify-content: center;
}
.info {
  color: black;
  display: none;
  width: 100%;
  padding: 10px 20px;
}
.card:hover .info {
  display: block;
}
.card {
  height: 340px;
  width: 240px;
  background-color: rgb(15, 6, 23);
  display: flex;
  align-items: center;
  justify-content: center;
}
.collection .card {
  height: 340px;
}
.collection .card:hover {
  height: 340px;
}
.card:hover {
  background-color: white;
  flex-direction: column;
  border-radius: 10px;
  justify-content: flex-start;
  padding-top: 1rem;
  /*   z-index: 99; */
  height: 340px;
}

.card:hover .slide_img {
  height: 200px;
  width: 220px;
}
.show-title {
  font-weight: 900;
}
.info p {
  margin: 0;
  padding: 0;
  font-size: 12px;
}
.info .btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
}

.info i {
  font-size: 1.5rem;
}

.collection .card {
  transition: transform 0.5s;
}
.collection .card:hover {
  z-index: 999;
  transform: scale(1.1);
}
.watch-now {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
  color: blueviolet;
}
.watch-now:hover {
  background-color: rgb(130, 48, 198);
  color: white;
  text-decoration: none;
}
Link:hover {
  text-decoration: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
#add {
  color: black;
}
