.nav_bar {
  z-index: 99999;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(15, 6, 23);
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
  font-size: 16px;
  font-weight: 400;
  max-height: 80px;
}
:root {
  --btn: rgb(117, 39, 181);
}
.nav__left {
  display: flex;
  align-items: center;
}
.nav__left img {
  position: relative;
  height: 50px;
}
.nav__left ul {
  display: flex;
  gap: 1.86rem;
  align-items: center;
  margin: 0;
  list-style: none;
}
.nav__left ul a {
  text-decoration: none;
  color: white;
}
.nav__right {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 0 auto;
}
.search__bar {
  width: 15rem;
  color: white;
  font-size: 0.75rem;
  border: 1px solid gray;
}
.search__bar:focus {
  border: 2px solid rgb(15, 138, 209);
}
.search__icon {
  color: white;
}
.nav__right input {
  background-color: rgb(15, 6, 23);
  border: none;
  padding: 5px;
}
.search {
  border: 1px solid rgb(126, 120, 120);
  border-radius: 5px;
  padding: 2px 10px;
  color: white;
  display: flex;

  align-items: center;
  height: 2.25rem;
  width: 20rem;
}
.nav__right input:focus .search {
  border: 2px solid rgb(117, 39, 181);
}
.nav__right input:focus {
  border: none;
  outline: none;
  color: white;
}
.nav__right .btn__login {
  background-color: rgb(15, 6, 23);
  border: 1px solid white;
  padding: 0.25rem 0.5rem;
  color: white;
  max-height: 100%;
  border-radius: 6px;
  font-size: 0.9rem;
  font-weight: 500;
}
.btn__login:hover {
  background-color: white;
  color: black;
}
.btn__buy {
  background-color: rgb(117, 39, 181);
  color: white;
  padding: 0.25rem 0.5rem;
  border: none;
  border-radius: 5px;
  font-size: 0.9rem;
}
.btn__menu {
  background-color: rgb(27, 19, 35);
  border: none;
  border-radius: 50%;
  color: white;
  padding: 5px 8px;
  font-size: 1.5rem;
}
.wrapper-mob-nav {
  display: none;
}
@media (max-width: 1000px) {
  .wrapper-mob-nav {
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
  }

  .nav_bar {
    display: none;
  }
  .app {
    padding-top: 6rem;
  }
  .main {
    padding: 0;
  }
}
.icon {
  display: flex;
}
.grids {
  z-index: 10;
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.grid {
  width: 0.2rem;
  height: 0.2rem;
  background-color: white;
  margin: 0.5px;
}
ul.more-list {
  /* margin-top: 2rem; */
  display: flex;
  position: absolute;
  color: white;

  background-color: var(--bgColor);
  flex-direction: column;
  gap: 1rem;
  font-size: 0.9rem;
  justify-content: left;
  align-items: flex-start;

  padding: 1rem;
  padding-top: 2.25rem;
  font-weight: 500;
}
ul.more-list li {
  padding: 0.75rem;
  width: 8rem;
  border-radius: 7px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
}

ul.more-list li:hover {
  background-color: rgb(29, 21, 37);
}
.navigation-list-items {
  position: relative;
}
.navigation-list-items::before {
  content: "";
  position: absolute;
  bottom: -4px;
  height: 2px;
  width: 100%;
  background: white;
  transform: scaleX(0);
  transition: transform 0.2s linear;
  transition-timing-function: ease-in-out;
}
.navigation-list-items:hover::before {
  transform: scaleX(1);
}
.active::before {
  content: "";
  position: absolute;
  bottom: -4px;
  height: 2px;
  width: 100%;
  background: white;
  transform: scaleX(1);
}
.translate-btn p {
  color: white;
  font-weight: 600;
  font-size: 1rem;
  margin: 0;
}

.translate-btn {
  /* border: 1px solid white; */
  padding: 0.3rem;
  border-radius: 48%;
  background-color: var(--bgColor);
  cursor: pointer;
}
.translate-btn:hover {
  background-color: rgb(51, 43, 58);
}
.btn__login {
  padding: 1rem 0;
}
#search {
  border: none;
  background-color: var(--bgColor);
}
@media (max-width: 1000px) {
  .nav_bar {
    display: none;
    background-color: var(--bgColor);
  }
}
