.resposiveNav img {
  height: 3rem;
}

.resposiveNav {
  position: fixed;
  z-index: 99999;
  top: 0;
  right: 0;
  width: 100vw;
  background-color: var(--bgColor);
  color: white;
  display: none;
  width: 30%;
  height: 100%;
}
.resposiveNav i {
  position: absolute;
  color: white;
  font-size: 2rem;
  top: 1rem;
  left: 1rem;
}
.logo {
  display: flex;
  justify-content: center;
  margin: 10px;
}
.user-info {
  display: flex;
  gap: 2rem;
  align-items: center;

  background-color: rgb(29, 21, 37);
  padding: 10px;
  padding-left: 3rem;
}
.user-info img {
  border-radius: 1rem;
  height: 2.3rem;
}
.user-info p {
  margin: 0;
}
.resposive-list {
  text-decoration: none;
  font-weight: bold;
  list-style: none;
  color: black;
  padding: 1rem;
  font-size: 1.1rem;
}
.resposive-list li a {
  list-style: none;
  padding: 1.5rem;
  color: white;
}
.resposive-list li {
  padding: 1rem;
  border-bottom: 1px solid rgb(71, 64, 64);
}
