.content ul,
.hero ul {
  display: flex;
  gap: 10px;
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.more {
  color: rgb(163, 130, 250);
}
.more:hover {
  color: rgb(163, 130, 250);
  text-decoration: none;
}
.content {
  padding-left: 2.5rem 0;
}
.title {
  font-size: 1.2rem;
  padding-left: 0.5rem;
  font-weight: bolder;
}

@media (max-width: 1000px) {
  .content {
    padding: 1rem;
  }
  .title {
    font-size: 1rem;
    padding: 0;
  }
}
