@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
.app {
  display: block;
  /*  margin-top: 6rem; */
  padding: 0 0;
  padding-top: 5rem;
  background-color: rgb(15, 6, 23);
  height: 100%;
}
:root {
  --bgColor: rgb(15, 6, 23);
}
* {
  font-family: "Itim", cursive;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: NotoSansRegular, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue;
}

.icon-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  max-width: 300px;
  margin: 0 auto;
}

.icon {
  text-align: center;
  font-size: 24px;
}
i {
  color: white;
}
html {
  height: -webkit-fill-available;
  padding-bottom: 1rem;
}
body::-webkit-scrollbar {
  width: 0.8rem;
  scrollbar-color: white black;
}
.homepage {
  display: block;
  background-color: rgb(15, 6, 23);
}
html {
  --scrollbarBG: rgb(15, 6, 23);
  --thumbBG: white;
}
body::-webkit-scrollbar {
  width: 11px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: NotoSansRegular, sans-serif;
}
.main {
  color: white;
  min-height: 40vh;
}

i {
  background-color: transparent;
}
.title {
  color: white;
}
.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(15, 6, 23);
}
hr {
  margin-top: 50px;
  size: "20";
}
.footer h4 {
  font-size: 1rem;
}
#footerTop {
  display: flex;
  width: 88vw;
  justify-content: space-between;

  margin-top: 26px;
}
#ftL {
  display: flex;
  justify-content: center;
  align-items: center;
}
#ftL > div {
  margin-right: 20px;
}
#ftL h3 {
  color: white;
  font-size: 1.5rem;
}

#ftR {
  display: flex;
  justify-content: center;
  align-items: center;
}
#ftR > div {
  margin-right: 20px;
}
#ftR h3 {
  margin-bottom: 37px;
  color: white;
}
.fa-brands {
  font-size: 30px;
  position: relative;
  bottom: 9.5px;
  color: white;
}
#ft2 {
  display: flex;
  width: 60%;
  justify-content: space-between;

  color: rgb(199, 186, 186);
  font-family: NotoSansRegular, sans-serif;
}
#fbody {
  display: flex;

  margin-top: 15px;
  color: rgb(199, 186, 186);
  font-weight: lighter;
}
#fbody > div {
  margin-right: 17px;
  height: 100%;
}
#fbody ul {
  list-style: none;
  line-height: 29px;
  font-family: NotoSansRegular, sans-serif;
  font-size: 0.8rem;
  /* font-style: normal; */
  margin: 0;
}
#fbott {
  line-height: 20px;
  margin-top: 35px;
  color: white;
}
.makeBold {
  font-weight: bolder;
  color: white;
}

.collection {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  flex-wrap: wrap;
  justify-content: center;

  gap: 1rem;
}
.loading {
  color: white;
  display: flex;
  justify-content: center;
}
